<!-- * OPEN GRAPH PROTOCOL * -->
<meta name="twitter:card" content="summary">
<meta property="theme-color" content="#FF4654">
<meta name="og:description" content="Devotion insanlara yardım etme amaçlı biçimlenmiş bir Devotion Network kuruluşudur.">
<meta name="og:type" content="website">
<meta name="og:title" content="Devotion Network">
<meta name="og:image" content="https://cdn.discordapp.com/icons/805573119732482148/a_e6210466aed78082ee3b7edb59949d86.gif?size=1024g">
<meta name="og:image:width" content="200">
<meta name="og:image:height" content="200">
<link rel="icon" href="images/favdev.png">

<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>